*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #38343A;
  font-family: 'Inter', sans-serif;
  color: aliceblue;
}

button {
  background-color: rgb(226, 148, 102, 0.7);
  border: 0;
  color: aliceblue;
  padding: 1rem 2rem;
  display: inline-block;
  transition: 0.3s;
  max-width: fit-content;
}

button:hover {
  background-color: rgb(226, 148, 102, 1);
}

a {
  text-decoration: none;
  color: aliceblue;
}

.container{
  max-width: 500px;
  margin-left: 15%;
  margin-right: 15%;
}

.grid{
  display: grid;
  gap: 1.5rem;

}

header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

#nav {
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 100;
}

.collapse {
  display: flex;
  justify-content: space-between
}

image {
  max-width: 100%;
  height: auto;
}

#home {
  margin-top: 15%;
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home-data {
  position: relative;
  height: calc(100vh - 80vh);
  row-gap: 3rem;
}


/* DISCOVER PAGE */

#hike-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hike-card {
  background-color: rgb(226, 148, 102, 0.7);
  padding: 20px;
}

.hike-card:hover {
  background-color: rgb(226, 148, 102, 1);
}

.hike-img {
  width: 350px;
  height: 370px;
  object-fit: cover;
  margin: 20px 0;
}