*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #38343A;
  font-family: 'Inter', sans-serif;
  color: aliceblue;
}
h1 {
  font-size: 3rem;
}

button {
  background-color: rgb(226, 148, 102, 0.8);
  border: 0;
  color: aliceblue;
  padding: 1rem 2rem;
  display: inline-block;
  transition: 0.3s;
  max-width: fit-content;
  font-size: 1.4rem;
}

button:hover {
  background-color: rgb(226, 148, 102, 1);
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: aliceblue;
}

.container{
  max-width: 500px;
  margin-left: 15%;
  margin-right: 15%;
}

.grid{
  display: grid;
  gap: 1.5rem;

}

#header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

/* NAVBAR */

.navbar, .navbar-brand {
  font-size: 1.5rem;
  transition: 0.3s;
}

#nav1 {
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 100;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.nav-item, .navbar-brand {
  margin: 0 25px;
}

/* .navbar-nav {
  background-color: #38343A;
  transition: 2s;
} */

.collapse {
  display: flex;
  justify-content: space-between;
}

/* HOMEPAGE TITLE AND IMG */

image {
  max-width: 100%;
  height: auto;
}

#home {
  margin-top: 25vh;
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home-data {
  position: relative;
  height: calc(100vh - 80vh);
  row-gap: 3rem;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}


/* DISCOVER AND FAVORITES PAGE */

#hike-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: fit-content;
}

.card-title {
  max-width: fit-content;
  min-width: 400px;
  position: absolute;
  bottom: 4rem;
  text-align: center;
  /* background-color: rgb(226, 148, 102, 0.5); */
  padding: 5px 0;
  background-color: rgb(27, 26, 30, 0.5);

}

.star, .close, .card-title-container {
  position: relative;
}

.fa-star, .fa-xmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.hike-card, .fave-hike-card {
  /* background-color: rgb(226, 148, 102, 0.9); */
  background-color: rgb(27, 26, 30, 0.6);
  padding: 20px;
  margin: 80px 20px;
  width: fit-content;
  animation: 2s ease-in 0s 1 slideInFromTopPartial;
}


.hike-card:hover {
  /* background-color: rgb(226, 148, 102, 1); */
  /* background-color: rgb(27, 26, 30, 0.9); */
}

.hike-img {
  width: 400px;
  height: 450px;
  object-fit: cover;
}

#favorites-hike-cards-container, #hike-cards-container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

/* MODAL RELATED */

.btn-close {
  color: aliceblue;
}

.btn-div, .modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-modal {
  max-width: 400px;
  padding: 1rem 166px;
}

.modal-content {
  background-color: #131314;
  color: aliceblue;
}

.location-btn {
  max-width: 200px;
}

/* ANIMATIONS */

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTopPartial {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}